<div id="<%= dom_id fundraiser %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= fundraiser.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= fundraiser.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Goal amount:</strong>
    <%= fundraiser.goal_amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Masjid:</strong>
    <%= fundraiser.masjid_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End date:</strong>
    <%= fundraiser.end_date %>
  </p>

</div>
