<div id="parent-form">
  <%= form_with(model: pledge, class: "p-4 md:p-5") do |form| %>
    <% if pledge.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(pledge.errors.count, "error") %> prohibited this pledge from being saved:</h2>
        <ul>
          <% pledge.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="grid gap-4 mb-4 grid-cols-2">
      <div class="col-span-2">
        <%= form.label :fundraiser_id, "Fundraisers*", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.select :fundraiser_id, Fundraiser.where(masjid_id: current_masjid.id).map{|m| [m.name, m.id]}, {include_blank: "Select a fundraiser"}, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
      </div>
      <div class="col-span-2">
        <%= form.label :contact_id, "Contacts*", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.select :contact_id,
                    @contacts.map{|m| [m.full_name, m.id]},
                    { include_blank: "Select or Add Contact" },
                    { data: { controller: "search-select", search_select_target: "contact" }, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" } %>
      </div>
      <div class="col-span-2">
        <%= form.label :amount, "Pledge Amount*", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.number_field :amount, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: "$12000"%>
      </div>
      <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Submit
      </button>
    </div>
  <% end %>
</div>
<!-- Modal for New Contact -->
<div id="new-contact-modal" data-controller="modal" class="hidden">
  <div class="relative p-4 w-full max-w-md max-h-full">
    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        Add New Contact
      </h3>
      <div data-action="click->modal#close">
        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
    </div>
    <%= form_with(model: @contact, class: "p-4 md:p-5") do |form| %>
      <% if @contact.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
          <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
          <ul>
            <% @contact.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="grid gap-4 mb-4 grid-cols-2">
        <div class="col-span-2">
          <%= form.label :first_name, "First Name*", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white"%>
          <%= form.text_field :first_name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: "Enter first name" %>
        </div>
        <div class="col-span-2">
          <%= form.label :middle_name , class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white"%>
          <%= form.text_field :middle_name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: "Enter middle name" %>
        </div>
        <div class="col-span-2">
          <%= form.label :last_name, "Last Name*", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white"%>
          <%= form.text_field :last_name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: "Enter last name" %>
        </div>
        <div class="col-span-2 sm:col-span-1">
          <%= form.label :phone_number,"Phone Number*", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white"%>
          <%= form.number_field :phone_number, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: "Enter phone number" %>
        </div>
        <div class="col-span-2 sm:col-span-1">
          <%= form.label :email, "Email*", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white"%>
          <%= form.email_field :email, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: "Enter email" %>
        </div>
        <%= hidden_field_tag "step", 2 %>
        <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Submit
        </button>
      </div>
    <% end %>
  </div>
</div>