  <div class="max-w-2xl px-4 py-8 mx-auto lg:py-16 bg-white rounded-lg shadow dark:bg-gray-700">
    <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Update product</h2>
    <%= form_with(model: masjid, class: "contents") do |form| %>
      <div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">
        <% if masjid.errors.any? %>
          <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
            <h2><%= pluralize(masjid.errors.count, "error") %> prohibited this masjid from being saved:</h2>
            <ul>
              <% masjid.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="my-5">
          <%= form.label :name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= form.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
        </div>
        <div class="sm:col-span-2">
          <%= form.label :address, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= form.text_field :address, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
        </div>
        <div class="my-5">
          <%= form.label :city, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= form.text_field :city, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
        </div>
        <div class="my-5">
          <%= form.label :state, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= form.text_field :state, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
        </div>
        <div class="my-5">
          <%= form.label :zipcode, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= form.text_field :zipcode, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
        </div>
        <div class="my-5">
          <%= form.label :phone_number, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= form.text_field :phone_number, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
        </div>
        <div class="flex items-center space-x-4">
          <%= form.submit class: "py-2.5 px-5 text-sm font-medium text-white focus:outline-none bg-blue-600 rounded-lg hover:bg-blue-900 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-blue-100 dark:focus:ring-blue-700 dark:bg-blue-800 dark:text-blue-400 dark:border-blue-600 dark:hover:text-white dark:hover:bg-blue-700" %>
          <% if @masjid.stripe_account_id.present? %>
            <%= link_to "Back to Profile", masjid_path(@masjid), class: "py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" %>
           <% end %>
        </div>
      </div>
    <% end %>
  </div>
