<div id="<%= dom_id masjid %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= masjid.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= masjid.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= masjid.city %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">State:</strong>
    <%= masjid.state %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Zipcode:</strong>
    <%= masjid.zipcode %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= masjid.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= masjid.phone_number %>
  </p>

</div>
