<%= turbo_frame_tag "area_chart" do %>
        <div class="flex justify-between">
          <div>
            <h5 class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2"><%= number_to_currency(area_chart.values.sum) %></h5>
            <% if params[:view] == "last_three_months" %>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Last Three Months</p>
            <% else%>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Year To Date</p>
            <% end %>
          </div>
        </div>
        <div
         data-controller="area-chart" 
         data-area-chart-labels-value="<%= labels %>"
         data-area-chart-series-value="<%= series %>">
          <div data-area-chart-target="chart"></div>
        </div>
        <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between">
          <div class="flex justify-between items-center pt-5">
            <!-- Button -->
            
              <button
          id="dropdownDefaultButton2"
          data-dropdown-toggle="lastDaysdropdown2"
          data-dropdown-placement="bottom"
          class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
          type="button"
          >
               <% if params[:view] == "last_three_months" %>
                Last Three Months
                <% else %>
                Year To Date
                <% end %>
                <svg class="w-2.5 m-2.5 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
              </button>
            <!-- Dropdown menu -->
            <div id="lastDaysdropdown2" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton2">
                <li>
                  <%= link_to "Year To Date", polymorphic_path([model], view: "ytd"), class: "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
                </li>
                <li>
                  <%= link_to "Last 3 Months", polymorphic_path([model], view: "last_three_months"), class: "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>