<div id="show_<%= contact.id %>" class="max-w-3xl bg-white rounded-xl shadow-sm dark:bg-gray-800">
  <dl class="p-4 h-full bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-700 dark:border-gray-600">
    <h2 class="flex items-center mb-4 text-xl font-bold leading-none text-gray-900 sm:text-2xl dark:text-white sm:mb-5">
      <%= contact.name %>
    </h2>
    <dt class="mb-2 leading-none text-gray-500 dark:text-gray-400">Email</dt>
    <dd class="mb-4 font-medium text-gray-900 sm:mb-5 dark:text-white"><%= contact.email %></dd>
    <dt class="mb-2 leading-none text-gray-500 dark:text-gray-400">Donations Made / Amount Donated</dt>
    <dd class="mb-4 font-medium text-gray-900 sm:mb-5 dark:text-white"><%="#{contact.donations.count} / #{number_to_currency(contact.donations.sum(:amount))}" %></dd>
    <dt class="mb-2 leading-none text-gray-500 dark:text-gray-400">Pledges Made / Amount Pledged</dt>
    <dd class="mb-4 font-medium text-gray-900 sm:mb-5 dark:text-white"><%= "#{contact.pledges.count} / #{number_to_currency(contact.pledges.sum(:amount))}" %></dd>
  </dl>
</div>
