<div id="<%= dom_id donation %>">

  <p class="my-5">
    <strong class="block font-medium mb-1">Attendee:</strong>
    <%= donation.contact.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fund:</strong>
    <%= donation.fundraiser_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Masjid:</strong>
    <%= donation.masjid_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= donation.amount %>
  </p>

</div>
