<div id="parent-form">
  <%= form_with(model: donation, class: "p-4 md:p-5") do |form| %>
    <% if donation.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(donation.errors.count, "error") %> prohibited this donation from being saved:</h2>
        <ul>
          <% donation.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if @fundraiser %>
      <%= form.hidden_field :fundraiser_id, value: @fundraiser.id %>
    <% end %>
    <div class="grid gap-4 mb-4 grid-cols-2">
      <div class="col-span-2">
        <%= form.label :fundraiser_id, "Fundraisers*", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.select :fundraiser_id, Fundraiser.where(masjid_id: current_masjid.id).map{|m| [m.name, m.id]}, {prompt: "Select a fundraiser"}, 
          { data: {
            controller: "select",
            action: "change->select#change",
            select_param: "fundraiser_id",
            select_url_value: "/options/pledges"
            },
            class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", required: true }
        %>
      </div>
      <div class="col-span-2">
        <%= form.label :contact_id, "Contacts*", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.select :contact_id,
                    @contacts.map{|m| [m.full_name, m.id]},
                    { include_blank: "Select or add a contact" },
                    { data: { controller: "search-select select", 
                    action: "change->select#change",
                    search_select_target: "contact",
                    select_param: "fundraiser_id",
                    select_url_value: "/options/pledges"
                    },
                    class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", required: true } %>
      </div>
      <div class="col-span-2">
        <%= form.label :pledge_id, "Pledges*", id: "pledge-select", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.select :pledge_id,
                    [],
                    { include_blank: "Select a fundraiser and contact to populate" },
                    { data: { controller: "select",
                     select_target: "select",
                     search_select_target: "pledge"
                    }, 
                     class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" } %>
      </div>
      <div class="col-span-2">
        <%= form.label :amount, "Donation Amount*", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white"%>
        <%= form.number_field :amount,  step: 0.01, min: 0.01, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: "$29.99", required: true %>
      </div>
      <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Submit
      </button>
    </div>
  <% end %>
</div>
<!-- Contact Modal !-->
<%= render 'shared/contact_modal', contact: @contact %>
<!-- New Pledge Form !-->
<%= render 'shared/pledge_modal', pledge: @pledge %>