<div id="parent-form" class="w-full">
  <%= form_with(model: donation, class: "w-full p-4 md:p-5") do |form| %>
    <% if donation.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(donation.errors.count, "error") %> prohibited this donation from being saved:</h2>
        <ul>
          <% donation.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <% if @fundraiser %>
    <%= form.hidden_field :fundraiser_id, value: @fundraiser.id %>
  <% end %>

  <div class="grid gap-4 mb-4 grid-cols-2">

  <!-- Fundraiser -->
    <div class="col-span-2">
      <%= form.label :fundraiser_id, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white"%>
      <%= form.select :fundraiser_id, 
          Fundraiser.where(masjid_id: current_masjid.id).map{|m| [m.name, m.id]}, 
          {prompt: "Select A Fundraiser"}, 
          { data: {
              controller: "search-select select",
              action: "change->search-select#openModal change->select#change",
              select_param: "fundraiser_id",
              select_url_value: "/options/pledges"
            },
            class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 
                    dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" } %>
      </div>

  <!-- Contact -->
    <div class="col-span-2">
      <%= form.label :contact_id, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white"%>
      <%= form.select :contact_id,
          @contacts.map{|m| [m.full_name, m.id]},
          { include_blank: "Select or Add Contact" },
          { data: { 
              controller: "search-select select", 
              action: "change->search-select#openModal change->select#change",
              select_param: "fundraiser_id",
              select_url_value: "/options/pledges"
            },
            class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 
                    dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" } %>
        </div>


  <!-- Pledge -->
    <div class="col-span-2">
        <%= form.label :pledge_id, id: "pledge-select", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white"%>
      <%= form.select :pledge_id,
          [],
          { include_blank: "Select or Add New Pledge" },
          { data: { 
              controller: "search-select select",
              action: "change->search-select#openModal change->select#change",
              select_target: "select" 
            }, 
            class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 
                    dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" } %>
         </div>

<!-- Amount -->
         <div class="col-span-2 sm:col-span-1">
           <%= form.label :amount , class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white"%>
           <%= form.text_field :amount, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 
           dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
           placeholder: "$000.00" %>
         </div>
    </div>

    <div class = 'col-span-1'> </div>

<!-- Button -->
    <div class="col-span-2 flex justify-end mt-6">
      <%= form.submit class: "ml-auto inline-flex items-center px-6 py-2 border border-transparent text-base font-medium rounded-lg 
                             shadow-sm text-white bg-blue-600 dark:bg-blue-500 hover:bg-blue-700 dark:hover:bg-blue-600 
                             focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 
                             dark:focus:ring-offset-gray-800 transition duration-150" do %>
        <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
        </svg>
        Save Donation
      <% end %>
    </div>
  </div>
<% end %>
