<tr id = "contact_<%= item.id %>"class="border-b dark:border-gray-700">
  <td class="w-4 p-4">
    <div class="flex items-center">
      <input type="checkbox" 
             value="<%= item.id %>"
             data-controller="bulk-actions"
             data-action="change->bulk-actions#toggleRow"
             class="hidden row-checkbox w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    </div>
  </td>
  <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= link_to item.first_name, item, data: { turbo: :false }%>
  </th>
  <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= item.last_name %>
  </th>
  <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= item.email %>
  </th>
 <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= item.phone_number %>
  </th>
  <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= number_to_currency(item.pledges.sum(:amount)) %>
  </th>
  <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= number_to_currency(item.donations.sum(:amount)) %>
  </th>
  <td class="px-4 py-3">
    <button type="button" id="tableActionsDropdownButton_<%= item.id %>" data-dropdown-toggle="tableActionsDropdown<%= item.id %>" class="flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-2 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
      <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-width="3" d="M12 6h.01M12 12h.01M12 18h.01"/>
      </svg>
    </button>
    <div id="tableActionsDropdown<%= item.id %>" class="z-10 hidden w-48 p-3 bg-white rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600">
      <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="apple-iphone-14-dropdown-button">
        <li>
          <%= link_to edit_contact_path(item), class: "block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white", data: { turbo_frame: "turbo-modal"} do %>
            Edit
          <%  end %>
        </li>
        <li>
          <%= link_to item, id: item.id, class: "block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white", data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this item?'} do %>
          Delete
        <%  end %>
        </li>
      </ul>
    </div>
  </td>
</tr>