<div id="detail_<%= prayer.id %>"class="grid gap-4 px-4 mb-4 sm:mb-5 sm:grid-cols-3 sm:gap-6 md:gap-12">
  <!-- Column -->
  <div class="sm:col-span-2">
    <h2 class="flex items-center mb-4 text-xl font-bold leading-none text-gray-900 sm:text-2xl dark:text-white sm:mb-5">
      <%= prayer.name %>
    </h2>
    <dl class="flex items-center mb-4 space-x-4 sm:mb-5">
      <div>
        <dt class="sr-only">Todays Date</dt>
        <dd class="flex items-center text-gray-900 dark:text-white">
          <svg class="w-4 h-4 mr-1.5 text-gray-400 dark:text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
          <span class="font-semibold"><%= Date.today.strftime("%A, %B %e") %></span>
        </dd>
      </div>
    </dl>
    <dl>
      <dt class="mb-2 leading-none text-gray-500 dark:text-gray-400">Adhaan Time</dt>
      <dd class="mb-4 font-medium text-gray-900 sm:mb-5 dark:text-white"><%= prayer.adhaan.strftime("%l:%M %p") %></dd>
      <dt class="mb-2 leading-none text-gray-500 dark:text-gray-400">Iqaamah</dt>
      <dd class="mb-4 font-medium text-gray-900 sm:mb-5 dark:text-white"><%= prayer.iqaamah.strftime("%l:%M %p") %></dd>
    </dl>
  </div>
  <!-- Column -->
</div>