<div id="<%= dom_id prayer %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Masjid:</strong>
    <%= prayer.masjid_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= prayer.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Adhaan:</strong>
    <%= prayer.adhaan %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Iqaamah:</strong>
    <%= prayer.iqaamah %>
  </p>

</div>
