

<%= form_with(model: expense, class: "p-4 md:p-5") do |form| %>
  <% if expense.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>
      <ul>
        <% expense.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="grid gap-4 mb-4 grid-cols-2">
  
  <!-- Name -->
    <div class="col-span-2">
      <%= form.label :name , class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white"%>
      <%= form.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 
      dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", 
      placeholder: "Expense Name" %>
    </div>

    <!-- Amount -->
    <div class="col-span-2 sm:col-span-1">
      <%= form.label :amount , class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white"%>
      <%= form.text_field :amount, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 
      dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
      placeholder: "$000.00" %>
    </div>

    <!-- Date -->
    <div class="col-span-2 sm:col-span-1">
      <%= form.label :date , class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white"%>
      <%= form.date_field :date, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5
      dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", 
      placeholder: "09/15/2024" %>
    </div>

    <!-- Button -->
    <div class="col-span-2 flex justify-end mt-6">
      <%= form.submit class: "ml-auto inline-flex items-center px-6 py-2 border border-transparent text-base font-medium rounded-lg 
                             shadow-sm text-white bg-blue-600 dark:bg-blue-500 hover:bg-blue-700 dark:hover:bg-blue-600 
                             focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 
                             dark:focus:ring-offset-gray-800 transition duration-150" do %>
        <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
        </svg>
        Save Expense
      <% end %>
    </div>
  </div>
<% end %>
