<div class="antialiased bg-gray-50 dark:bg-gray-900">
  <main class="p-4 md:ml-64 h-auto pt-20">
    <div class="rounded-lg shadow dark:bg-gray-800 h-200 mb-4 md:p-6">
      <%= turbo_frame_tag "area_expenses" do %>
        <div class="flex justify-between">
          <div>
            <h5 class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2"><%= number_to_currency(@view_expenses.values.sum) %></h5>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Year To Date Expenses</p>
          </div>
        </div>
        <div data-controller="area-chart" data-area-chart-labels-value="<%= @labels %> "data-area-chart-series-value="<%= @series %>">
          <div data-area-chart-target="chart"></div>
        </div>
        <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between">
          <div class="flex justify-between items-center pt-5">
            <!-- Button -->
            <% if params[:view] == "last_three_months" %>
              <button
          id="dropdownDefaultButton2"
          data-dropdown-toggle="lastDaysdropdown2"
          data-dropdown-placement="bottom"
          class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
          type="button"
          >
                Last Three Months
                <svg class="w-2.5 m-2.5 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
              </button>
            <% else %>
              <button
          id="dropdownDefaultButton2"
          data-dropdown-toggle="lastDaysdropdown2"
          data-dropdown-placement="bottom"
          class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
          type="button"
          >
                Year To Date
                <svg class="w-2.5 m-2.5 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
              </button>
            <% end %>
            <!-- Dropdown menu -->
            <div id="lastDaysdropdown2" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton2">
                <li>
                  <%= link_to "Year To Date", expenses_path(view: "ytd"), class: "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
                </li>
                <li>
                  <%= link_to "Last 3 Months", expenses_path(view: "last_three_months"), class: "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= turbo_frame_tag "pie_expenses" do %>
      <div class="grid grid-cols-2 gap-4 mb-4">
        <div class="border-gray-300 dark:border-gray-600 rounded-xl h-48 lg:h-96">
          <div class="w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
            <div class="flex justify-between items-start w-full">
              <div class="flex-col items-center">
                <div class="flex items-center mb-1">
                  <% if params[:months].present? %>
                    <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white me-1">All Expenses for
                      <% if params[:months] == "All Months"%>
                        <%= params[:year]%>
                      <% else %>
                        <%= params[:months]%>/<%= params[:year]%>
                      <% end %>
                    </h5>
                  <% else %>
                    <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white me-1">All Expenses</h5>
                  <% end %>
                </div>
              </div>
            </div>
            <!-- Pie Chart -->
            <div>
              <div
            data-controller="pie-chart"
            data-pie-chart-labels-value="<%= @pie_labels %>"
            data-pie-chart-series-value="<%= @pie_series %>"
            class="inline-block "
            >
                <div data-pie-chart-target="chart"></div>
                <%= form_with model: Expense, method: :get, local: true, class: "max-w-sm mx-auto" do %>
                  <div data-controller = "select" data-select-url-value="<%= months_expenses_path %>" data-select-param-value="year">
                    <div class="flex">
                      <%= select_tag :year, options_for_select(@available_years), include_blank: 'All Expenses',  data: { action: "change->select#change" }, class: "block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer" %>
                      <%= select_tag :months, [], data: { select_target: "select" }, class: "block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer" %>
                      <%= submit_tag 'Filter', class: "px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="border-2 border-gray-300 dark:border-gray-900 rounded-xl h-48 lg:h-96">
          <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-800 dark:text-gray-400">
                <tr>
                  <th scope="col" class="px-6 py-3">
                    Name
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Amount
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Date
                  </th>
                  <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
                  </th>
                </tr>
              </thead>
              <tbody id = "expense_table">
                <% @expenses.each do |expense| %>
                  <%= render 'expense_row', expense: expense %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </main>
</div>
<div data-dial-init class="fixed end-6 bottom-6 group">
  <div id="speed-dial-menu-default" class="flex flex-col items-center hidden mb-4 space-y-2">
    <%= link_to new_expense_path,  data: { turbo_frame: "modal" } do %>
      <button type="button" data-tooltip-target="tooltip-copy" data-tooltip-placement="left" class="flex justify-center items-center w-[52px] h-[52px] text-gray-500 hover:text-gray-900 bg-white rounded-full border border-gray-200 dark:border-gray-600 dark:hover:text-white shadow-sm dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
          <path d="M5 9V4.13a2.96 2.96 0 0 0-1.293.749L.879 7.707A2.96 2.96 0 0 0 .13 9H5Zm11.066-9H9.829a2.98 2.98 0 0 0-2.122.879L7 1.584A.987.987 0 0 0 6.766 2h4.3A3.972 3.972 0 0 1 15 6v10h1.066A1.97 1.97 0 0 0 18 14V2a1.97 1.97 0 0 0-1.934-2Z"/>
          <path d="M11.066 4H7v5a2 2 0 0 1-2 2H0v7a1.969 1.969 0 0 0 1.933 2h9.133A1.97 1.97 0 0 0 13 18V6a1.97 1.97 0 0 0-1.934-2Z"/>
        </svg>
        <span class="sr-only">Add Expense</span>
      </button>
    <% end %>
    <div id="tooltip-copy" role="tooltip" class="absolute z-10 invisible inline-block w-auto px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
      Add Expense
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
  </div>
  <button type="button" data-dial-toggle="speed-dial-menu-default" aria-controls="speed-dial-menu-default" aria-expanded="false" class="flex items-center justify-center text-white bg-blue-700 rounded-full w-14 h-14 hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800">
    <svg class="w-5 h-5 transition-transform group-hover:rotate-45" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
    </svg>
    <span class="sr-only">Open actions menu</span>
  </button>
</div>
